Repository Neograaph/ressources_relationnelles, pull requests merged in 2023-06, with the labels that each got.

#109 home deconnecté
  Front/src/app/Page/page-home/page-home.component.html
  Front/src/app/Page/page-home/page-home.component.ts
  Front/src/app/services/auth.service.ts
Labels: front

#112 102 ressource
  Front/src/app/Bloc/Feed/bloc-ressource/bloc-ressource.component.html
  Front/src/app/Bloc/Feed/bloc-ressource/bloc-ressource.component.ts
  Front/src/app/Bloc/Feed/bloc-ressources/bloc-ressources.component.html
  Front/src/app/Bloc/Feed/bloc-ressources/bloc-ressources.component.ts
  Front/src/app/Bloc/Utilitaire/bloc-footer/bloc-footer.component.html
  Front/src/app/Bloc/Utilitaire/bloc-footer/bloc-footer.component.ts
  Front/src/app/services/auth.service.ts
Labels: front

#123 122 ressources favorites
  ApiCube/ApiCube/ApiCube - Backup.csproj
  ApiCube/ApiCube/Controllers/AimersController.cs
  ApiCube/ApiCube/Migrations/20230612131129_init.Designer.cs
  ApiCube/ApiCube/Migrations/20230612131129_init.cs
  ApiCube/ApiCube/Migrations/20230612145059_init.Designer.cs
  ApiCube/ApiCube/Migrations/20230612145059_init.cs
  ApiCube/ApiCube/Migrations/AppContexteModelSnapshot.cs
  Front/src/app/Bloc/Feed/bloc-ressource/bloc-ressource.component.html
  Front/src/app/Bloc/Feed/bloc-ressource/bloc-ressource.component.ts
  Front/src/app/Bloc/Modules/bloc-ressources-fav/FavRessource.component.html
  Front/src/app/Bloc/Modules/bloc-ressources-fav/FavRessource.component.ts
  Front/src/app/Models/Aimer.model.ts
  Front/src/app/Models/Ressource.model.ts
  Front/src/app/services/favressource.service.ts
Labels: bug, back, front

#133 ajout dockerfile api
  ApiCube/ApiCube/Program.cs
  ApiCube/dockerfile
Labels: back

#136 [DESIGN] page profil up, formulaire non fonctionnel
  Front/package-lock.json
  Front/package.json
  Front/src/app/Bloc/bloc-mes-informations/mes-informations.component.html
  Front/src/app/Page/page-home/page-home.component.html
  Front/src/app/Page/page-profil/page-profil.component.html
  Front/tailwind.config.js
Labels: front

#153 129 dockercompose
  ApiCube/.gitignore
  ApiCube/ApiCube/ApiCube - Backup.csproj
  ApiCube/ApiCube/ApiCube.csproj
  ApiCube/ApiCube/Models/AppContexte.cs
  ApiCube/ApiCube/Program.cs
  ApiCube/ApiCube/appsettings.json
  ApiCube/dockerfile.main
  ApiCube/dockerfile.migrations
  ApiCube/dockerfile.old
  Front/default.conf
  Front/dockerfile
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.ts
  Front/src/environments/environment.prod.ts
  Front/src/environments/environment.ts
  deploy.sh
  docker-compose.yaml
Labels: back, front

#163 maj API
  Front/src/environments/environment.prod.ts
  Front/src/environments/environment.ts
Labels: bug, back, front

#165 ajout budgetBuild
  Front/angular.json
Labels: bug
