Repository Neograaph/ressources_relationnelles, pull requests merged in 2023-05, with the labels that each got.

#32 requete API
  Front/src/app/composants/navbar/navbar.component.html
  Front/src/app/composants/navbar/navbar.component.ts
Labels: bug, front

#33 28 web mes ressources
  Front/src/app/app.component.html
  Front/src/app/app.module.ts
  Front/src/app/composants/mes-ressources/mes-ressources.component.css
  Front/src/app/composants/mes-ressources/mes-ressources.component.html
  Front/src/app/composants/mes-ressources/mes-ressources.component.spec.ts
  Front/src/app/composants/mes-ressources/mes-ressources.component.ts
  Front/tailwind.config.js
Labels: front

#36 creation service auth
  Front/src/app/services/actions-type.service.spec.ts
  Front/src/app/services/auth.service.ts
  Front/src/app/services/ressource.service.spec.ts
  Front/src/environments/environment.prod.ts
  Front/src/environments/environment.ts
Labels: back

#43 38 page authentification
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.html
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.html
  Front/src/app/Page/page-authentification/page-authentification.component.html
  Front/src/app/Page/page-home/page-home.component.html
  Front/src/app/app-routing.module.ts
  Front/src/app/app.component.html
  Front/src/app/app.module.ts
  Front/src/app/services/auth.service.ts
  Front/src/assets/img/bg-inscription.png
  Front/tailwind.config.js
Labels: back, front

#44 38 page authentification
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Models/Utilisateurs.model.ts
  Front/src/app/services/auth.service.ts
Labels: back, front

#48 38 page authentification
  Front/angular.json
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.html
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.ts
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.html
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Page/page-authentification/page-authentification.component.html
  Front/src/app/Page/page-authentification/page-authentification.component.ts
  Front/src/app/app-routing.module.ts
  Front/src/app/app.module.ts
  Front/src/app/services/auth.service.ts
  Front/src/assets/img/bg-connexion.png
  Front/src/styles.css
  Front/src/toast.css
  Front/tailwind.config.js
  package-lock.json
  package.json
Labels: back, front

#49 token ok
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.ts
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.ts
  Front/src/app/services/auth.service.ts
Labels: back, front

#50 Debut page vitrine
  Front/src/app/Bloc/Modules/bloc-filtre-recherche/FiltreRecherche.component.html
  Front/src/app/Page/page-vitrine/page-vitrine.component.css
  Front/src/app/Page/page-vitrine/page-vitrine.component.html
  Front/src/app/Page/page-vitrine/page-vitrine.component.ts
  Front/src/app/app.component.html
  Front/src/assets/img/vitrine/friends-4187953_960_720 1.png
  Front/src/assets/img/vitrine/josh-hild-m9aGgc8UW6o-unsplash 1.png
  Front/src/assets/img/vitrine/siteon0 1.png
  Front/src/assets/img/vitrine/team-4529717_960_720 1.png
Labels: front

#56 53 ajout toastr notifications
  Front/angular.json
  Front/package-lock.json
  Front/package.json
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.ts
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Page/page-authentification/page-authentification.component.html
  Front/src/app/app.component.html
  Front/src/app/app.module.ts
  Front/src/app/notifications.service.ts
  Front/src/styles.css
  Front/src/toast.css
Labels: front

#57 53 notifications hotfix
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.ts
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Page/page-authentification/page-authentification.component.html
  Front/src/app/services/notifications.service.ts
Labels: bug, front

#59 modif readme
  readme.md
Labels: documentation

#63 61 ajout model de donnée utilisateur
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.ts
  Front/src/app/Bloc/Authentification/bloc-inscription/bloc-inscription.component.ts
  Front/src/app/Models/UtilisateurConnexion.model.ts
  Front/src/app/Models/UtilisateurInscription.model.ts
  Front/src/app/Models/Utilisateurs.model.ts
Labels: front

#68 67 redirection connexion home
  Front/src/app/Bloc/Authentification/bloc-connexion/bloc-connexion.component.ts
  Front/src/app/Bloc/Feed/bloc-ajout-ressource/PostRessource.component.ts
  Front/src/app/Bloc/Modules/bloc-filtre-recherche/FiltreRecherche.component.ts
  Front/src/app/Bloc/Modules/bloc-ressources-fav/FavRessource.component.ts
  Front/src/app/Page/page-vitrine/page-vitrine.component.html
Labels: bug, front

#70 23 web mes relations
  Front/src/app/Bloc/Feed/bloc-ajout-ressource/PostRessource.component.css
  Front/src/app/Bloc/Feed/bloc-ajout-ressource/PostRessource.component.html
  Front/src/app/Bloc/Modules/bloc-filtre-recherche/FiltreRecherche.component.css
  Front/src/app/Bloc/Modules/bloc-filtre-recherche/FiltreRecherche.component.html
  Front/src/app/Bloc/Modules/bloc-mes-relations/bloc-mes-relations.component.html
  Front/src/app/Bloc/Modules/bloc-mes-relations/bloc-mes-relations.component.ts
  Front/src/app/Bloc/Modules/bloc-mes-ressources/mes-ressources.component.html
  Front/src/app/Bloc/Modules/bloc-ressources-fav/FavRessource.component.css
  Front/src/app/Bloc/Modules/bloc-ressources-fav/FavRessource.component.html
  Front/src/app/Bloc/Modules/bloc-ressources-fav/FavRessource.component.ts
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.html
  Front/src/app/Page/page-home/page-home.component.css
  Front/src/app/Page/page-home/page-home.component.html
  Front/src/app/Page/page-vitrine/page-vitrine.component.html
  Front/tailwind.config.js
Labels: bug, front

#77 40 page profil
  Front/package-lock.json
  Front/package.json
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.ts
  Front/src/app/Bloc/bloc-mes-informations/mes-informations.component.html
  Front/src/app/Bloc/bloc-mes-informations/mes-informations.component.ts
  Front/src/app/Models/UtilisateurProfil.model.ts
  Front/src/app/Page/page-profil/page-profil.component.html
  Front/src/app/Page/page-vitrine/page-vitrine.component.ts
  Front/src/app/app-routing.module.ts
  Front/src/app/services/auth.service.ts
  Front/tailwind.config.js
  package-lock.json
  package.json
Labels: bug, front

#82 [FIX] navbar design et redirection
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.html
  Front/src/assets/img/user-icon.svg
  Front/tailwind.config.js
Labels: front

#88 87 ajout données utilisateur page profil
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.ts
  Front/src/app/Bloc/bloc-mes-informations/mes-informations.component.html
  Front/src/app/Bloc/bloc-mes-informations/mes-informations.component.ts
Labels: front

#94 quelques fix
  Front/src/app/Bloc/Utilitaire/bloc-navbar/bloc-navbar.component.html
  Front/src/app/Page/page-vitrine/page-vitrine.component.html
  Front/src/app/app.component.html
Labels: bug, front

#95 92 affichage de mes ressources
  Front/src/app/Bloc/Feed/bloc-ajout-ressource/PostRessource.component.ts
  Front/src/app/Bloc/Modules/bloc-mes-ressources/mes-ressources.component.html
  Front/src/app/Bloc/Modules/bloc-mes-ressources/mes-ressources.component.ts
  Front/src/app/app.module.ts
  Front/src/app/services/refresh-service.service.ts
Labels: bug, front

#96 Hotfix
  Front/src/app/Bloc/Utilitaire/bloc-footer/bloc-footer.component.html
  Front/src/app/Page/page-home/page-home.component.html
Labels: bug
